@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

.all-center {
  @apply flex justify-center items-center;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
