@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

.all-center {
  @apply flex justify-center items-center;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

div.ant-notification-notice {
  padding: 8px 12px !important;
  border-radius: 2px !important;
}
.ant-notification-notice-message {
  margin-bottom: 4px !important;
}
