* {
  border: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.all-center {
  @apply flex justify-center items-center;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
